body {
    background: rgb(238, 241, 247);
    color:#000;
    font-family:verdana, sans-serif;
    font-size:10pt;
    margin:0;
    padding:10px;
}

a:link, a:visited {
    color:#008;
    font-weight:bold;
    text-decoration:none;
}

a:active, a:hover {
    color:#ACF;
}

.info {
    font-weight:bold;
}

button {
    font-family:inherit;
    cursor:pointer;
    border:0;
    border-radius:3px;
    padding:0.3em 0.5em;
    background:#CCC;
    color:#000;
}

button:hover {
    background:#DDD;
}

button.disabled {
    background:#DDD;
    color:#888;
    cursor:not-allowed;
}

button.disabled:hover {
    background:#DDD;
}

#container {
    position:relative;
    margin-left:-10px;
    margin-right:-10px;
    padding:10px;
    overflow:hidden;
}

@media (min-width:1024px) {
    /* Put the found favorites beside the picking div when the window is sufficiently large */
    #picking {
        float:left;
        width:636px;
    }

    #secondary {
        margin-left:646px;
    }
}

@media (min-width:1300px) {
    /* Once we get to the point where 636px is less than half of the width of the screen, make the picking div just take up half */
    #picking {
        width:50%;
    }

    #secondary {
        margin-left:51%;
    }
}

#pick {
    background:#58F;
    color:#FFF;
    font-size:larger;
    font-weight:bold;
    width:6em;
    border-radius:5px;
    margin-right:10px;
}

#pick.disabled {
    background:#ACF;
}

#pick:hover {
    background:#ACF;
}

.item-list {
    padding:0;
    list-style-type:none;
    /* line-height:100px; */
}

.item-list li {
    margin:0;
    display:inline-block;
    height:138px;
    width:100px;
    /* line-height:100px; */
    border:3px solid transparent;
    text-align:center;
    position:relative;
    vertical-align:top;
    overflow:hidden;
    /* border-radius:100%; */
    background:#F7F7F7;
    color:#000;
}

.item-list li img {
    vertical-align:middle;
    /* max-height:100%;
    max-width:100%; */
    width: 100%;
}

.item-list li img:hover {
    /* width: 110%;  */
}

.item-list li span {
    display:inline-block;
    vertical-align:middle;
    line-height:1.2;
}


.item-title {
    position: absolute;
    bottom: 0;
    background: rgba(50, 50, 50, 0.6);
    color: ghostwhite;
    font-size: 0.8em;
    width: 100px;
    min-height: 50px;
    vertical-align: middle;
}

.item-title p {
    padding: 0rem 0.1rem 0rem 0.1rem;
}

@media (max-width:636px) {
    .item-list {
        line-height:75px;
    }

    .item-list li {
        line-height:75px;
        height:75px;
        width:75px;
    }
}

@media (max-width:423px) {
    .item-list {
        line-height:50px;
    }

    .item-list li {
        line-height:50px;
        height:50px;
        width:50px;
    }
}

#evaluating li {
    cursor:pointer;
}

#favorites li {
    cursor:move;
}

.item-list li:hover {
    background:#CDF;
}

.item-list.sorting li:hover {
    background:#F7F7F7;
}

#evaluating li.selected {
    border:3px solid #7AC;
}

#evaluating, #buttons {
    text-align:center;
    margin:auto;
}

#evaluating li.notice {
    width:auto;
    height:auto;
    max-width:260px;
    margin:auto;
    background:#F7F7F7;
    border-radius:10px;
    padding:30px 30px;
    color:#000;
    text-align:center;
    line-height:1.4;
    cursor:auto;
    font-size:10pt;
}

#buttons {
    margin-top:30px;
    position:relative;
    z-index:3;
}



.hidden {
    display: none;
}






/* Homepage */
#homepage {
    margin: 2rem 3rem 0rem 3rem;
    text-align: center;
}


.header {
    font-size: 1rem;
}

hr {
    width: 60%;
}


/* Search Controls */
button {
    vertical-align: top;
    width: 3rem;
    height: 3rem;
    background-color: #DDD;
    border: none;
    border-radius: 2px;
}

#search-container {
    height: 3rem;    
}

#search-field {
    font-size: 2rem;

    height: 2.7rem;
    width: 25rem;
    border: solid 2px rgb(194, 194, 194);
    border-radius: 2px;
    padding-left: 0.5rem;
}

#submit-search {
    /* background-image: url('./res/search.svg'); */
    background-repeat: no-repeat;
    background-size: 100%;

    transition: background-color 0.3s;
}
s

.search-icon {
    height: 2.5rem;
    margin-top: 0.15rem;
    transition: fill 0.3s
}

#submit-search:hover {
    background-color: rgb(97, 95, 95);
}

#submit-search:hover .search-icon {
    fill: rgb(224, 224, 224);
}

button {
    vertical-align: top;
}

#button-anilist {
    background-image: url('res/anilist.svg');
    background-size: cover;
}

#button-mal {
    background-image: url('res/mal.jpg');
    background-size: contain;
}

[id^=button] {
    filter: grayscale();
}

[id^=button].active {
    filter: none
}

/* Filter Styling */

#filter-container {
    display: flex;
    justify-content: center;
}

.filter-block {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
}

.filter-toggle {
    display: block;
}

.filter-input {
    /* float: left; */
}




